body {
    background: #000000;
  }
.title {
    text-align: center;
    border-bottom-style: solid;
    border-color: #ffcc00;
    margin: 10px;
    color:  #ffffff;
    font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
    font-size: 40px;
  }
#firstparagraph {
    float: right;
    width: 40%;
    height: auto;
    color: #ffffff;
    font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
    font-size: 25px;
    text-align: center;
    position: relative;
    margin: 5px;
    padding: 40px;
    border-bottom-style: solid;
    border-top-style: solid;
    margin-top: 40px;
    border-color: #ffcc00;
}
#picture {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 10%;

}
#quotes {
  float: left;
  margin-left: 7%;
  margin-right: auto;
  width: 25%;
  color: #ffffff;
  font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
  font-size: 25px;
  text-align: center;
}

#rose {
  float: left;
  margin-left: 7%;
  margin-right: auto;
  width: 25%;
  color: #ffffff;
  font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
  font-size: 20px;
  text-align: start;
}

#footer {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 1000px;
    height: 100px;
    bottom: 18%;
    right: 25%;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #ffcc00;
  }
.long-arrow-right {
  -ms-transform:rotate(135deg); /* IE9 */
	-moz-transform: rotate(135deg);  /* FF3.5/3.6 */
	-o-transform: rotate(135deg);  /* Opera 10.5 */
	-webkit-transform: rotate(135deg);  /* Saf3.1+ */
	transform: rotate(135deg);  /* Newer browsers */
  position: absolute;
  bottom: 6%;
  right: 24.3%;
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.mvright{
  position: absolute;
  bottom: 5.3%;
  right: 26%;
  font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
  padding: 11px 18px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #ffcc00;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px #999;
}

.mvright:hover {
  background-color: #b99400;
}

.mvright:active {
  background-color: #b99400;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.mvleft{
  color: #ffffff;
  position: absolute;
  bottom: 5.3%;
  right: 68.5%;
  font-family: 'GeoBrandBold', 'CenturyGothic', sans-serif;
  padding: 10px 20px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #ffcc00;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px #999;
}

.mvleft:hover {
  background-color: #b99400;
}

.mvleft:active {
  background-color: #b99400;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.long-arrow-left{
  -ms-transform:rotate(315deg); /* IE9 */
	-moz-transform: rotate(315deg);  /* FF3.5/3.6 */
	-o-transform: rotate(315deg);  /* Opera 10.5 */
	-webkit-transform: rotate(315deg);  /* Saf3.1+ */
	transform: rotate(315deg);  /* Newer browsers */
  position: absolute;
  bottom: 6%;
  right: 77%;
  width: 25px;
  height: 25px;
  margin-left: 25%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

